<p class="h2">Payments</p>
<hr />
<div>
  <button type="button" class="btn btn-primary mb-4" (click)="btnAddPayment()">
    Add Payment
  </button>
</div>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount(Taka)</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mahraz</td>
      <td>500</td>
      <td>25 January 2025</td>
      <td><span class="badge text-bg-success">Approved</span></td>
      <td>
        <button type="button" class="btn btn-primary btn-sm">Edit</button>
      </td>
    </tr>
    <tr>
      <td>Uday</td>
      <td>1500</td>
      <td>25 January 2025</td>
      <td><span class="badge text-bg-danger">Declined</span></td>
      <td>
        <button type="button" class="btn btn-primary btn-sm">
          Small button
        </button>
      </td>
    </tr>
    <tr>
      <td>Rohan</td>
      <td>1000</td>
      <td>25 January 2025</td>
      <td><span class="badge text-bg-success">Approved</span></td>
      <td>
        <button type="button" class="btn btn-primary btn-sm">
          Small button
        </button>
      </td>
    </tr>
  </tbody>
</table>
